<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wanglu.photoviewerlibrary">

    <application>
        <activity
            android:name=".PreviewActivity"
            android:theme="@style/AppTransparentTheme">
            <intent-filter>
                <data android:scheme="xuantang"
                    android:host="preview" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>